<<<<<<< HEAD
.annotator-adder {
  width: 80px;
}
=======
/*.ui-loader {
  display: none;
}*/

/*.annotator-hl {
  box-shadow: none !important;
  cursor: pointer !important;
}*/
>>>>>>> Save progress.
